body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C8E7F0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;

}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.home>img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    border-radius: 25px;
}

.racao,
.servicos,
.banho,
.acessorios,
.medicamentos {
    width: 100%;
    background-color: #fff;
    margin-bottom: 50px;
    border-radius: 25px;
}

.racao-cachorro {
    display: flex;
    gap: 150px;
    margin-left: 50px;
    justify-content: center;
}

.racao-gato {
    display: flex;
    gap: 150px;
    margin-left: 50px;
    justify-content: center;
}

.produto1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d4c8f093;
    padding: 5px;
    border-radius: 24px;

}

.produto1:hover {
    width: 270px;
    height: 270px;
}


.produtos-banho {
    display: flex;
    gap: 150px;
    margin-left: 50px;
    justify-content: center;
}

.produtos-acessorios {
    display: flex;
    gap: 90px;
    margin-left: 50px;
    justify-content: center;
}

.produtos-medicamentos {
    display: flex;
    gap: 150px;
    margin-left: 50px;
    justify-content: center;
}

p {
    font-weight: bold;
    text-align: center;
}

h1,
h2 {
    color: #333;
    margin-top: 20px;
    margin-left: 20px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #bf7272;
    background-color: rgba(0, 0, 0, 0.1);
  }

  a:link {
    background-color: ;
   }

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}

#shampoo-gato {
    width: 125px;
}

.clinica>img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    border-radius: 25px;
}

.taxipet>img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    border-radius: 25px;
}